.location,
.hours {
  /* background-color: blue; */
  /* width: 400px; */
  display: inline-block;
  font-family: birch-std, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  border-bottom: 1px solid white;
  font-family: libre-franklin, sans-serif;
  /* font-family: ibm-plex-sans, sans-serif; */

  font-style: italic;
  font-weight: 400;

  font-style: normal;
  margin-top: 40px;
  color: white;
}
.hours {
  margin-left: 30px;
}
.h1 {
  font-family: birch-std, serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 35px;
  /* background-color: tomato; */
  margin-bottom: 20px;
  text-align: start;
  font-size: 130px;
  color: white;
}

.description {
  margin-top: 30px;

  font-family: birch-std, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  font-family: libre-franklin, sans-serif;
  /* font-family: ibm-plex-sans, sans-serif; */

  font-style: italic;
  width: 500px;

  color: white;
}
