.container {
  /* background-color: indianred; */
  /* margin-right: 100px; */
  text-align: end;
}

.p-review,
.p-rating {
  /* background-color: green; */
  font-family: source-sans-pro, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: rgb(243, 243, 243);
  color: white;
}

.text {
  /* background-color: hotpink; */
  font-family: source-sans-pro, sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
}
.textarea {
  /* width: 100%; */
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: source-sans-pro, sans-serif;
  font-size: 14px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}

.textarea:focus {
  outline-color: white;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 4px;
}
.myButton {
  /* background-color: #434945; */
  background-color: #bda98c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  /* border: 1px solid rgb(146, 91, 91); */
  padding: 10px 43px;
  text-decoration: none;
  margin-top: 10px;
  border: none;
}
.myButton:hover {
  background-color: #c7bcae;
  background-color: #c4ad89;
  color: #ffffff;
  /* border: 10px solid #b3a18b; */
  /* box-shadow: inset 0 0 0 25px #b3a18b; */
}
.myButton:active {
  position: relative;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #5a5a5a;
  width: 60px;
  z-index: 1;
  height: 60px;
  z-index: 12;
  margin-left: 450px;
  margin-top: 200px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
