.card {
  /* background-color: orange; */
  border: 1px solid rgb(211, 211, 211);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 700px;
  height: 415px;
  padding: 30px;
  padding-top: 10px;
  margin: 40px;
  margin-left: 0px;
  text-align: end;
  display: inline-block;
  /* color: white; */
}

.container {
  /* background-color: grey; */
  margin-bottom: 200px;
}

.item-img {
  display: inline-block;
  /* vertical-align: middle; */
  width: 8%;
  height: 10%;
  margin-top: 70px;
  position: absolute;
  z-index: -1;
  /* background-color: blueviolet; */
}

.input[type='text'],
.input-price,
.input-ing,
.input-des,
.select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  background-color: #9b9b9b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input[type='submit']:hover {
  opacity: 80%;
}

.input[type='file'] {
  width: 210px;

  border: none;
  cursor: pointer;
}

.input[type='file']::file-selector-button {
  /* width: 150px; */
  background-color: #4caf50;
  background-color: #9b9b9b;
  color: white;
  /* padding: 14px 20px; */
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  /* display: block; */
  cursor: pointer;
  /* margin-left: 235px;
  margin-bottom: 20px; */
}

.input[type='file']::file-selector-button:hover {
  opacity: 70%;
}

.input-price {
  width: 20%;
}

.p-card,
.tags {
  display: inline;
  margin: 10px;
  font-size: 14px;
}

.tags {
  /* display: block; */
  margin: 7px;
}

.buttons {
  /* background-color: blue; */
  /* margin-left: 20px; */
  text-align: center;
}

.button,
.button-table {
  width: 150px;
  background-color: #4caf50;
  background-color: #9b9b9b;
  color: white;
  padding: 14px 20px;
  /* margin: 8px 0; */
  border: none;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  /* margin-left: 235px; */
  margin-bottom: 20px;
}

.button-table {
  /* margin-left: 3px; */
}

.wrapper {
  display: inline;
}

.left {
  /* background-color: brown; */
  /* display: inline; */
  /* text-align: end; */
  width: 100%;
}

.input-ing {
  width: 60%;
}

.p-card-descrpition {
  /* background-color: brown; */
  width: fit-content;
  /* margin-left: 50px; */
  font-size: 15px;
  margin-top: -5px;
  margin-bottom: 2px;
}

.photo {
  width: 210px;
  /* background-color: blue; */
  /* width: fit-content; */
  margin-left: -120px;
}
